openapi: 3.1.0
info:
  title: CircleHaven — Trust Circle API v2 (E2EE X25519/Ed25519)
  version: "2.0.0"
servers:
  - url: https://trust-circle.kavalek.fr
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token EdDSA/Ed25519 uniquement, audience trust-circle-api et typ=access.
    refreshAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Refresh token uniquement, audience trust-circle-auth et typ=refresh.
  schemas:
    DeviceKey:
      type: object
      required: [userId, deviceId, pk_sig, pk_kem, key_version, status]
      properties:
        userId: { type: string, format: uuid }
        deviceId: { type: string }
        pk_sig: { type: string, description: Base64(32B) }
        pk_kem: { type: string, description: Base64(32B) }
        key_version: { type: integer }
        status: { type: string, enum: [active, revoked] }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time, nullable: true }

    RecipientWrap:
      type: object
      required: [userId, deviceId, wrap, nonce]
      properties:
        userId: { type: string, format: uuid }
        deviceId: { type: string }
        wrap: { type: string, description: Base64(AES-GCM wrap of mk) }
        nonce: { type: string, description: Base64(12B) }

    MessageV2:
      type: object
      required: [v, alg, groupId, convId, messageId, sentAt, sender, recipients, iv, ciphertext, sig]
      properties:
        v: { type: integer, enum: [2] }
        alg:
          type: object
          properties:
            kem: { type: string, enum: [X25519] }
            kdf: { type: string, enum: [HKDF-SHA256] }
            aead: { type: string, enum: [AES-256-GCM] }
            sig: { type: string, enum: [Ed25519] }
        groupId: { type: string, format: uuid }
        convId: { type: string, format: uuid }
        messageId: { type: string, format: uuid }
        sentAt: { type: string, format: date-time }
        sender:
          type: object
          required: [userId, deviceId, eph_pub, key_version]
          properties:
            userId:
              type: string
              format: uuid
              description: Doit correspondre au sujet du bearer access token ; toute divergence est refusée.
            deviceId: { type: string }
            eph_pub: { type: string, description: Base64(32B X25519) }
            key_version: { type: integer }
        recipients:
          type: array
          items: { $ref: '#/components/schemas/RecipientWrap' }
        iv: { type: string, description: Base64(12B) }
        ciphertext: { type: string }
        sig: { type: string, description: Base64(64B Ed25519) }

    Conversation:
      type: object
      required: [id, groupId, type, created_at]
      properties:
        id: { type: string, format: uuid }
        groupId: { type: string, format: uuid }
        type: { type: string, enum: [private, subset] }
        created_at: { type: string, format: date-time }

    Group:
      type: object
      required: [id, name, role, createdAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        creatorId: { type: string, format: uuid }
        role: { type: string, enum: [owner, admin, member] }
        createdAt: { type: string, format: date-time }

paths:
  /auth/register:
    post:
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, username]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                username: { type: string }
      responses:
        "201": { description: Created }

  /auth/login:
    post:
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [access, refresh, user]
                properties:
                  access: { type: string }
                  refresh: { type: string }
                  user: { type: object }

  /auth/refresh:
    post:
      tags: [auth]
      security:
        - refreshAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [access]
                properties:
                  access: { type: string }

  /auth/logout:
    post:
      tags: [auth]
      security:
        - refreshAuth: []
      responses:
        "200": { description: Refresh token révoqué ou session déjà absente }
        "401": { description: Token fourni invalide ou destiné à un autre usage }

  /groups:
    post:
      tags: [groups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses: { "201": { description: Created } }
    get:
      tags: [groups]
      responses:
        "200":
          description: List groups
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Group' }

  /groups/{groupId}/members:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [groups]
      description: Réservé aux membres du cercle.
      responses:
        "200":
          description: Members
        "403": { description: Cercle inaccessible. }

  /groups/{groupId}/members/{memberId}/role:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: memberId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [groups]
      summary: Affecter le rôle admin ou membre (propriétaire uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [admin, member] }
      responses:
        "200": { description: Rôle mis à jour. }
        "403": { description: Action interdite ou cible inaccessible. }

  /groups/{groupId}/join-requests:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [groups]
      summary: Demander à rejoindre un cercle
      responses:
        "201": { description: Demande créée. }
        "409": { description: Déjà membre. }
    get:
      tags: [groups]
      summary: Lister les demandes (propriétaire ou administrateur)
      responses:
        "200": { description: Demandes en attente. }
        "403": { description: Action interdite ou cercle inaccessible. }

  /groups/{groupId}/join-requests/{requestId}/handle:
    post:
      tags: [groups]
      summary: Accepter ou refuser une demande (propriétaire ou administrateur)
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [accept, reject] }
      responses:
        "200": { description: Demande traitée. }
        "403": { description: Action interdite ou cible inaccessible. }

  /groups/{groupId}/join-requests/{requestId}/vote:
    post:
      tags: [groups]
      deprecated: true
      summary: Route héritée neutralisée, aucun vote collectif en V1
      responses:
        "403": { description: Toujours refusé. }

  /keys/group/{groupId}:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [keys]
      summary: Répertoire des clés actives du cercle, réservé aux membres
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DeviceKey' }
        "403": { description: Cercle inaccessible. }

  /keys/group/{groupId}/my-devices:
    get:
      tags: [keys]
      summary: Lister ses appareils actifs et révoqués dans un cercle membre
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: OK }
        "403": { description: Cercle inaccessible. }

  /keys/group/{groupId}/devices:
    post:
      tags: [keys]
      summary: Publier ses propres clés d'appareil dans un cercle membre
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId, pk_sig, pk_kem, key_version]
              properties:
                deviceId: { type: string }
                pk_sig: { type: string }
                pk_kem: { type: string }
                key_version: { type: integer }
      responses:
        "201": { description: Created }
        "403": { description: Cercle inaccessible ou appareil révoqué. }

  /keys/group/{groupId}/devices/{deviceId}:
    delete:
      tags: [keys]
      summary: Révoquer l'un de ses propres appareils dans un cercle membre
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: deviceId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Revoked }
        "403": { description: Cercle inaccessible. }

  /conversations:
    post:
      tags: [conversations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [groupId, type, memberIds]
              properties:
                groupId: { type: string, format: uuid }
                type: { type: string, enum: [private, subset] }
                memberIds:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        "201": { description: Created }
        "403": { description: Acteur ou participant extérieur au cercle. }
    get:
      tags: [conversations]
      responses: { "200": { description: List } }

  /conversations/{conversationId}/messages:
    parameters:
      - in: path
        name: conversationId
        required: true
        schema: { type: string, format: uuid }
      - in: query
        name: cursor
        schema: { type: string }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
    get:
      tags: [messages]
      responses:
        "200":
          description: Page de messages v2
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/MessageV2' }
                  nextCursor: { type: string, nullable: true }

  /messages:
    post:
      tags: [messages]
      summary: Envoi d’un message v2 (X25519 + Ed25519)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MessageV2' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
        "403":
          description: Expéditeur divergent du sujet authentifié ou ACL refusée.
