openapi: 3.1.0
info:
  title: CircleHaven — Trust Circle API v2 (E2EE X25519/Ed25519)
  version: "2.0.0"
  description: Les corps Auth sont limités à 16 Kio et les corps Messaging à 256 Kio. Les objets d'entrée refusent les propriétés inconnues.
servers:
  - url: https://trust-circle.kavalek.fr
security:
  - bearerAuth: []
    deviceIdHeader: []
    deviceKeyVersionHeader: []
    deviceProofHeader: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token EdDSA/Ed25519 uniquement, audience trust-circle-api et typ=access.
    refreshAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Refresh token uniquement, audience trust-circle-auth et typ=refresh.
    deviceIdHeader:
      type: apiKey
      in: header
      name: X-CircleHaven-Device-Id
      description: UUID de l'appareil du compte qui produit la preuve d'accès.
    deviceKeyVersionHeader:
      type: apiKey
      in: header
      name: X-CircleHaven-Device-Key-Version
      description: Version entière positive de la clé d'identité Ed25519 de l'appareil.
    deviceProofHeader:
      type: apiKey
      in: header
      name: X-CircleHaven-Device-Proof
      description: Signature Ed25519 Base64 canonique de la transcription d'accès de 89 octets liée au jti de l'access token. Les trois en-têtes appareil sont obligatoires ensemble sur les routes Messaging, sauf enrôlement initial.
  schemas:
    DeviceKey:
      type: object
      additionalProperties: false
      required: [userId, deviceId, pk_sig, pk_kem, key_version, status]
      properties:
        userId: { type: string, format: uuid }
        deviceId: { type: string, format: uuid }
        pk_sig: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$', description: Base64 canonique de 32 octets }
        pk_kem: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$', description: Base64 canonique de 32 octets }
        key_version: { type: integer, minimum: 1, maximum: 4294967295 }
        status: { type: string, enum: [active, superseded, revoked] }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time, nullable: true }

    AccountDevice:
      type: object
      required: [deviceId, identityPublicKey, identityKeyVersion, platform, deviceName, status, proofVerifiedAt, activatedAt, revokedAt, createdAt, updatedAt]
      properties:
        deviceId: { type: string, format: uuid }
        identityPublicKey: { type: string, description: Base64 canonique de la clé Ed25519 brute de 32 octets }
        identityKeyVersion: { type: integer, minimum: 1 }
        platform: { type: string, enum: [android, ios, windows, macos, unknown] }
        deviceName: { type: string, minLength: 1, maxLength: 64 }
        status: { type: string, enum: [pending, active, revoked] }
        proofVerifiedAt: { type: string, format: date-time }
        activatedAt: { type: [string, "null"], format: date-time }
        revokedAt: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    DeviceRegistrationChallenge:
      type: object
      required: [challengeId, deviceId, challenge, transcript, expiresAt, algorithm]
      properties:
        challengeId: { type: string, format: uuid }
        deviceId: { type: string, format: uuid }
        challenge: { type: string, description: Base64 canonique du nonce CSPRNG de 32 octets }
        transcript: { type: string, description: Base64 des 163 octets exacts à signer }
        expiresAt: { type: string, format: date-time }
        algorithm: { type: string, enum: [Ed25519] }

    DeviceApprovalChallenge:
      type: object
      required: [challengeId, approverDeviceId, targetDeviceId, decision, transcript, expiresAt, algorithm, target]
      properties:
        challengeId: { type: string, format: uuid }
        approverDeviceId: { type: string, format: uuid }
        targetDeviceId: { type: string, format: uuid }
        decision: { type: string, enum: [approve, reject, revoke] }
        transcript: { type: string, description: Base64 des 216 octets exacts à signer }
        expiresAt: { type: string, format: date-time }
        algorithm: { type: string, enum: [Ed25519] }
        target:
          type: object
          required: [deviceId, identityPublicKey, identityKeyVersion, platform, deviceName]
          properties:
            deviceId: { type: string, format: uuid }
            identityPublicKey: { type: string, description: Base64 canonique de la clé Ed25519 brute de 32 octets }
            identityKeyVersion: { type: integer, minimum: 1 }
            platform: { type: string, enum: [android, ios, windows, macos, unknown] }
            deviceName: { type: string }

    RecipientWrap:
      type: object
      additionalProperties: false
      required: [userId, deviceId, key_version, wrap, nonce]
      properties:
        userId: { type: string, format: uuid }
        deviceId: { type: string, format: uuid }
        key_version: { type: integer, minimum: 1, maximum: 4294967295, description: Version exacte de la clé X25519 destinataire utilisée pour le wrap. }
        wrap: { type: string, minLength: 64, maxLength: 64, pattern: '^[A-Za-z0-9+/]{64}$', description: Base64 canonique du wrap AES-GCM de 48 octets }
        nonce: { type: string, minLength: 16, maxLength: 16, pattern: '^[A-Za-z0-9+/]{16}$', description: Base64 canonique de 12 octets }

    MessageV2:
      type: object
      additionalProperties: false
      required: [v, alg, groupId, convId, messageId, sentAt, sender, recipients, iv, ciphertext, sig, salt]
      properties:
        v: { type: integer, enum: [2] }
        alg:
          type: object
          additionalProperties: false
          required: [kem, kdf, aead, sig]
          properties:
            kem: { type: string, enum: [X25519] }
            kdf: { type: string, enum: [HKDF-SHA256] }
            aead: { type: string, enum: [AES-256-GCM] }
            sig: { type: string, enum: [Ed25519] }
        groupId: { type: string, format: uuid }
        convId: { type: string, format: uuid }
        messageId: { type: string, format: uuid }
        sentAt: { type: integer, minimum: 0, maximum: 4102444800, description: Horodatage Unix en secondes. }
        sender:
          type: object
          additionalProperties: false
          required: [userId, deviceId, eph_pub, key_version]
          properties:
            userId:
              type: string
              format: uuid
              description: Doit correspondre au sujet du bearer access token ; toute divergence est refusée.
            deviceId: { type: string, format: uuid }
            eph_pub: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$', description: Base64 canonique de 32 octets X25519 }
            key_version: { type: integer, minimum: 1, maximum: 4294967295 }
        recipients:
          type: array
          minItems: 1
          maxItems: 256
          items: { $ref: '#/components/schemas/RecipientWrap' }
        iv: { type: string, minLength: 16, maxLength: 16, pattern: '^[A-Za-z0-9+/]{16}$', description: Base64 canonique de 12 octets }
        ciphertext: { type: string, minLength: 24, maxLength: 87384, pattern: '^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$', description: Base64 canonique, 16 octets minimum et 64 Kio maximum après décodage }
        sig: { type: string, minLength: 88, maxLength: 88, pattern: '^[A-Za-z0-9+/]{86}==$', description: Base64 canonique de 64 octets Ed25519 }
        salt: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$', description: Base64 canonique du sel HKDF de 32 octets }

    Conversation:
      type: object
      required: [id, groupId, type, created_at]
      properties:
        id: { type: string, format: uuid }
        groupId: { type: string, format: uuid }
        type: { type: string, enum: [private, subset] }
        created_at: { type: string, format: date-time }

    Group:
      type: object
      required: [id, name, role, createdAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, minLength: 3, maxLength: 64 }
        creatorId: { type: string, format: uuid }
        role: { type: string, enum: [owner, admin, member] }
        createdAt: { type: string, format: date-time }

paths:
  /api/devices:
    get:
      tags: [devices]
      summary: Lister les identités d'appareil du sujet authentifié
      responses:
        "200":
          description: Registre du compte courant
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AccountDevice' }

  /api/devices/registrations/challenge:
    post:
      tags: [devices]
      security:
        - bearerAuth: []
      summary: Créer une transcription de preuve Ed25519 à usage unique
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [deviceId, identityPublicKey, platform, deviceName]
              properties:
                deviceId: { type: string, format: uuid }
                identityPublicKey: { type: string, minLength: 44, maxLength: 44 }
                platform: { type: string, enum: [android, ios, windows, macos, unknown] }
                deviceName: { type: string, minLength: 1, maxLength: 64 }
                bootstrapGrant: { type: string, minLength: 43, maxLength: 43, description: Requis si cette preuve doit réaliser le tout premier bootstrap }
      responses:
        "201":
          description: Challenge créé pour 5 minutes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceRegistrationChallenge' }
        "403": { description: Identifiant d'appareil révoqué ou grant de bootstrap invalide }
        "409": { description: Identité différente déjà liée à cet UUID d'appareil }
        "429": { description: Limite de challenges atteinte }

  /api/devices/registrations/{challengeId}/proof:
    post:
      tags: [devices]
      security:
        - bearerAuth: []
      summary: Prouver la possession de la clé privée d'identité
      parameters:
        - in: path
          name: challengeId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [signature]
              properties:
                signature: { type: string, minLength: 88, maxLength: 88, description: Base64 canonique de 64 octets Ed25519 }
      responses:
        "201":
          description: Preuve valide ; premier appareil actif, suivants en attente
          content:
            application/json:
              schema:
                type: object
                required: [deviceId, status, bootstrap]
                properties:
                  deviceId: { type: string, format: uuid }
                  status: { type: string, enum: [pending, active] }
                  bootstrap: { type: boolean }
        "403": { description: "Signature invalide, bootstrap non autorisé ou appareil révoqué" }
        "404": { description: Challenge absent pour le sujet }
        "409": { description: Challenge consommé ou identité en conflit }
        "410": { description: Challenge expiré }

  /api/devices/{targetDeviceId}/approvals/challenge:
    post:
      tags: [devices]
      summary: Créer une approbation, un refus ou une révocation globale à signer
      parameters:
        - in: path
          name: targetDeviceId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [approverDeviceId, decision]
              properties:
                approverDeviceId: { type: string, format: uuid }
                decision: { type: string, enum: [approve, reject, revoke] }
      responses:
        "201":
          description: Transcription créée pour 5 minutes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceApprovalChallenge' }
        "403": { description: L'appareil approbateur n'est pas actif }
        "404": { description: Cible absente du compte courant }
        "409": { description: La cible n'est plus pending pour approve/reject ou plus active pour revoke }
        "429": { description: Limite de challenges atteinte }

  /api/devices/approvals/{challengeId}/decision:
    post:
      tags: [devices]
      summary: Appliquer une décision signée par l'appareil actif
      parameters:
        - in: path
          name: challengeId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [signature]
              properties:
                signature: { type: string, minLength: 88, maxLength: 88, description: Base64 canonique de 64 octets Ed25519 }
      responses:
        "200":
          description: Décision appliquée atomiquement
          content:
            application/json:
              schema:
                type: object
                required: [targetDeviceId, approverDeviceId, decision, status]
                properties:
                  targetDeviceId: { type: string, format: uuid }
                  approverDeviceId: { type: string, format: uuid }
                  decision: { type: string, enum: [approve, reject, revoke] }
                  status: { type: string, enum: [active, revoked] }
        "400": { description: Encodage de signature non canonique }
        "403": { description: Signature invalide ou approbateur inactif }
        "404": { description: Challenge absent pour le compte courant }
        "409": { description: Challenge consommé ou identité/état modifié }
        "410": { description: Challenge expiré }

  /auth/register:
    post:
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email, password, username]
              properties:
                email: { type: string, format: email, minLength: 3, maxLength: 254 }
                password: { type: string, minLength: 8, maxLength: 1024 }
                username: { type: string, minLength: 3, maxLength: 64, pattern: '^(?!\s)(?!.*\s$)[^\u0000-\u001F\u007F]+$' }
      responses:
        "201": { description: Created }

  /auth/login:
    post:
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email, password]
              properties:
                email: { type: string, format: email, minLength: 3, maxLength: 254 }
                password: { type: string, minLength: 8, maxLength: 1024 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [access, refresh, user]
                properties:
                  access: { type: string }
                  refresh: { type: string }
                  user: { type: object }

  /auth/refresh:
    post:
      tags: [auth]
      security:
        - refreshAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [access]
                properties:
                  access: { type: string }

  /auth/logout:
    post:
      tags: [auth]
      security:
        - refreshAuth: []
      responses:
        "200": { description: Refresh token révoqué ou session déjà absente }
        "401": { description: Token fourni invalide ou destiné à un autre usage }

  /auth/device-bootstrap-grant:
    post:
      tags: [auth, devices]
      security:
        - bearerAuth: []
      summary: Réautoriser par mot de passe le bootstrap du premier appareil
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [password]
              properties:
                password: { type: string, minLength: 8, maxLength: 1024 }
      responses:
        "201":
          description: Grant opaque valable 5 minutes, valeur brute non stockée
          content:
            application/json:
              schema:
                type: object
                required: [grant, expiresAt]
                properties:
                  grant: { type: string, minLength: 43, maxLength: 43, description: Base64URL canonique sans padding de 32 octets CSPRNG }
                  expiresAt: { type: string, format: date-time }
        "401": { description: Access token ou mot de passe invalide }
        "429": { description: Limite de réautorisations atteinte }

  /groups:
    post:
      tags: [groups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 3, maxLength: 64, pattern: '^(?!\s)(?!.*\s$)[^\u0000-\u001F\u007F]+$' }
                groupSigningPubKey: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$' }
                groupKEMPubKey: { type: string, minLength: 44, maxLength: 44, pattern: '^[A-Za-z0-9+/]{43}=$' }
      responses: { "201": { description: Created } }
    get:
      tags: [groups]
      responses:
        "200":
          description: List groups
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Group' }

  /groups/{groupId}/members:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [groups]
      description: Réservé aux membres du cercle.
      responses:
        "200":
          description: Members
        "403": { description: Cercle inaccessible. }

  /groups/{groupId}/members/{memberId}/role:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: memberId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [groups]
      summary: Affecter le rôle admin ou membre (propriétaire uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [role]
              properties:
                role: { type: string, enum: [admin, member] }
      responses:
        "200": { description: Rôle mis à jour. }
        "403": { description: Action interdite ou cible inaccessible. }

  /groups/{groupId}/join-requests:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [groups]
      summary: Demander à rejoindre un cercle
      responses:
        "201": { description: Demande créée. }
        "409": { description: Déjà membre ou demande en attente déjà existante. }
    get:
      tags: [groups]
      summary: Lister les demandes (propriétaire ou administrateur)
      responses:
        "200": { description: Demandes en attente. }
        "403": { description: Action interdite ou cercle inaccessible. }

  /groups/{groupId}/join-requests/{requestId}/handle:
    post:
      tags: [groups]
      summary: Accepter ou refuser une demande (propriétaire ou administrateur)
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: requestId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action]
              properties:
                action: { type: string, enum: [accept, reject] }
      responses:
        "200": { description: Demande traitée. }
        "403": { description: Action interdite ou cible inaccessible. }

  /groups/{groupId}/join-requests/{requestId}/vote:
    post:
      tags: [groups]
      deprecated: true
      summary: Route héritée neutralisée, aucun vote collectif en V1
      responses:
        "403": { description: Toujours refusé. }

  /keys/group/{groupId}:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [keys]
      summary: Répertoire signé des clés courantes et historiques du cercle
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DeviceKey' }
        "403": { description: Cercle inaccessible. }

  /keys/group/{groupId}/my-devices:
    get:
      tags: [keys]
      summary: Lister ses versions de clés actives, remplacées et révoquées dans un cercle membre
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: OK }
        "403": { description: Cercle inaccessible. }

  /keys/group/{groupId}/devices:
    post:
      tags: [keys]
      summary: Publier ou faire tourner ses propres clés versionnées et signées
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [deviceId, pk_sig, pk_kem, key_version, identityKeyVersion, bindingSignature]
              properties:
                deviceId: { type: string, format: uuid }
                pk_sig: { type: string, description: Base64 canonique de la clé Ed25519 brute de 32 octets }
                pk_kem: { type: string, description: Base64 canonique de la clé X25519 brute de 32 octets }
                key_version: { type: integer, minimum: 1, maximum: 4294967295 }
                identityKeyVersion: { type: integer, minimum: 1, maximum: 4294967295 }
                bindingSignature: { type: string, description: Signature Ed25519 Base64 canonique de la transcription de liaison de 152 octets }
      responses:
        "201":
          description: Publication initiale, rejeu idempotent ou rotation séquentielle acceptée
          content:
            application/json:
              schema:
                type: object
                required: [ok, keyVersion, rotated]
                properties:
                  ok: { type: boolean }
                  keyVersion: { type: integer, minimum: 1 }
                  rotated: { type: boolean }
        "403": { description: Cercle inaccessible, liaison invalide ou appareil non actif/révoqué. }
        "409": { description: Version obsolète, conflictuelle ou non immédiatement successive. }

  /keys/group/{groupId}/devices/{deviceId}:
    delete:
      tags: [keys]
      deprecated: true
      summary: Ancienne révocation par cercle neutralisée
      parameters:
        - in: path
          name: groupId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: deviceId
          required: true
          schema: { type: string }
      responses:
        "409": { description: Utiliser la décision signée revoke du registre global d'appareils. }

  /conversations:
    post:
      tags: [conversations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [groupId, type, memberIds]
              properties:
                groupId: { type: string, format: uuid }
                type: { type: string, enum: [private, subset] }
                memberIds:
                  type: array
                  minItems: 1
                  maxItems: 127
                  uniqueItems: true
                  items: { type: string, format: uuid }
      responses:
        "201": { description: Created }
        "403": { description: Acteur ou participant extérieur au cercle. }
    get:
      tags: [conversations]
      responses: { "200": { description: List } }

  /conversations/{conversationId}/messages:
    parameters:
      - in: path
        name: conversationId
        required: true
        schema: { type: string, format: uuid }
      - in: query
        name: cursor
        description: Horodatage Unix en secondes du message le plus ancien déjà chargé.
        schema: { type: string, minLength: 1, maxLength: 10, pattern: '^[0-9]+$' }
      - in: query
        name: limit
        schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
    get:
      tags: [messages]
      responses:
        "200":
          description: Page de messages v2
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/MessageV2' }
                  nextCursor: { type: string, nullable: true }

  /messages:
    post:
      tags: [messages]
      summary: Envoi d’un message v2 (X25519 + Ed25519)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MessageV2' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
        "403":
          description: Appareil non actif, expéditeur/version non courants, destinataire révoqué ou ACL refusée.
